*.env
public/uploads/**/*.jpg
public/uploads/**/*.JPEG
public/uploads/**/*.JPG
public/uploads/**/*.jpeg
public/uploads/**/*.png
public/uploads/**/*.PNG
public/uploads/**/*.gif
public/uploads/**/*.GIF
node_modules
public/uploads/**/
public/js/code.min.js/
public/js/code.libs.min.js/
public/js/*.js
package-lock.json