memeFont
{
  font-family:Impact;
  font-size:30px;
  color:white;
  text-shadow:
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px,
    #000 0px 0px 5px;
}
