<!DOCTYPE html>
<html ng-app="Chan">
<head>
<title>Index</title>       
<script src="/socket.io/socket.io.js"></script>
<script src="js/code.libs.min.js"></script>  
<script src="js/code.min.js"></script>     
<link rel="stylesheet" type="text/css" href="css/code.min.css" />
<link rel="stylesheet" type="text/css" href="css/fonts/font-awesome-4.5.0/css/font-awesome.min.css" />    
</head>
<body>
<div ui-view></div>  
</body>
</html>