<!DOCTYPE html>
<html ng-app="Chan">
<head>
<title>Index</title>       
<script src="/socket.io/socket.io.js"></script>
<script src="js/code.libs.min.js"></script>   
<link rel="stylesheet" type="text/css" href="css/code.libs.min.css" />    
<link rel="stylesheet" type="text/css" href="css/code.min.css" />
<link rel="stylesheet" type="text/css" href="css/fontAwesome/web-fonts-with-css/css/fontawesome-all.min.css" />    
<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
</head>
<body>
<div class="stateView" ui-view></div> 
<script src="js/code.min.js"></script>
<script src="https://apis.google.com/js/api.js?onload=googleApisInit"></script> 
</body>
</html>