.messageChatArea img {
    max-width: 560px;
}

.messageChatArea iframe {
    width: 560px;
    height: 315px;
}

.messageChatArea ul {
    list-style: none;
}

.messageChatArea {
    text-align: left;
    color: #fff;
    list-style-type: none;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
    padding-left: 0px;
    padding: 20px 0px 20px 0px;
    /*height: 100%;*/
}

.msgAreaParent {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
    overflow-y: scroll;
    height: ~"calc(100% - 60px)";
}

.message {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
}
.msgParts li {
    padding: 0;
}

.editMsgIcon {
    opacity: 0.04;
    transition: opacity 0.4s;
}

.editMsgIcon:hover {
    opacity: 1;
    transition: opacity 0.4s;
}

.deleteMsgIcon {
    opacity: 0.02;
    margin-left: 20px;
    transition: opacity 0.4s;
}

.deleteMsgIcon:hover {
    opacity: 1;
    margin-left: 20px;
    transition: opacity 0.4s;
}

.message p {
    margin: 0px 0px 20px 0px;
}

.chatInfo {
    display: inline-block;
    margin: 0px 20px 20px 0px;
    
}

.msgEditArea{

}

.msgEditArea textarea{
    border: none ;
    background-color: gray;
    border-radius: 5px;
    color: white;
    max-width: 560px;
    max-height: 200px;
    min-height: 60px;
    min-width: 400px;
    font-family: sans-serif;
    padding: 10px;
    font-size: 14px;
}

.msgEditArea button{
    margin-left: 20px;
}

.message h4 {
    color: #7e7e7e;
}

.msgParts {
    margin: 0;
    padding: 0;
}

.messageChatArea p{
    text-align: left;
}

.chatUsername {
    color: green;
    text-align: left;
}

.chatInputArea {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #898989;
}

.chatInputArea input{
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-family: sans-serif;
    width: 70%;
}

.chatInputArea .wrapper {
    width: 90%;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}