.messageChatArea img {
    max-width: 560px;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 6px;
}

.messageChatArea iframe {
    width: 560px;
    height: 315px;
    background-color: grey;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 6px;
}

.messageChatArea ul {
    list-style: none;
}

.chatSidebar {
	height: 100vh;
    width: 350px;
	background-color: #404040;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
    transition: all 0.6s;
    list-style-type: none;
    text-align: left;
    font-family: sans-serif;
}

.chatSidebar h1{
    text-align: center;
    color: green;
}
.chatSidebar span{
    text-align: center;
    color: darkgreen;
}

.sidebarProfileImg {
    width: 70px;
    height: 70px;
    background-size:cover;
    border-radius: 100%;
}

.chatSidebar ul {
	list-style-type: none;
	position: relative;
	width: 80%;
	padding: 0;
	margin: 50px 0px 0px 0px;
	left: 50%;
	transform: translateX(-50%);
}

.chatSidebarDivider {
	width: 80%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	/* margin: 1px 0px 10px 0px; */
	left: 50%;
	transform: translateX(-50%);
	margin-top: 100px;
	top: 0;
}

.chatSidebar li {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.chatSidebar h3 {
	display: inline-block;
	font-size: 23px;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 100px;
}

.chatSidebarWrapper {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	transform: ~"translateY(-50%) translateX(-50%)";
	left: 50%;
}
.sidebarExpanded {
    margin: 0px 0px 0px 0px;
    transition: all 0.6s;
}

.expandSidebar {
    background:  -webkit-linear-gradient(left, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%);
    width: 50px;
    height: ~"calc(100% - 60px)";
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
}

.expandSidebar:hover {
    background:  -webkit-linear-gradient(left, rgba(0,0,0,0.65) 58%,rgba(0,0,0,0) 100%);
    width: 50px;
    height: ~"calc(100% - 60px)";
    opacity: 1;
    transition: opacity 0.6s;
    transition-delay: 1s;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
}

.expandSidebar i {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    margin-left: 13px;
    font-size: 21px;
}

.expandSidebarHover {
    transition-delay: 1s !important;
    transition: all 0.6s;
    margin-left: 50px !important;
}

.sidebarCollapsed {
    margin: 0px 0px 0px -450px;
    transition: all 0.6s;
}

.chatAreaWindow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.6s;
}

.chatWindowExpanded {
    width: ~"calc(100vw - 350px)";
    transition: all 0.6s;
}

.msgAreaParent {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
    overflow-y: scroll;
    height: ~"calc(100% - 60px)";
    z-index: 0;
    background-size: cover;
    background-image: url('/images/defaultChatBg.jpg');
}

.message {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    transition: all 0.6s;
    transition-delay: 0s;
}
.msgParts li {
    padding: 0;
    margin: 20px 0px 0px 0px;
}

.editMsgIcon {
    opacity: 0.15;
    transition: opacity 0.4s;
}

.chatLeaveIcon {
	color: #fff;
	margin-left: 10px;
	font-size: 21px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.messageInfoWrapper {
	margin: 0px 0px 20px;
	position: relative;
}

.editMsgIcon:hover {
    opacity: 1;
    transition: opacity 0.4s;
}

.chatProfileImg {
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    border-radius: 100%;
}

.deleteMsgIcon {
    opacity: 0.15;
    margin-left: 20px;
    transition: opacity 0.4s;
}

.deleteMsgIcon:hover {
    opacity: 1;
    margin-left: 20px;
    transition: opacity 0.4s;
}

.message p {
    margin: 0px 0px 20px 0px;
}

.chatInfo {
	display: inline-block;
	margin: 0 0px 0px 20px;
	padding: 0;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

.msgEditArea{

}

.messageRoomJoin {
    font-size: 17px;
    font-style: italic;
}

.messageRoomJoin span{
    color: skyblue;
    font-style: italic;
    font-weight: bold;
}

.msgEditArea textarea{
    border: none ;
    background-color: gray;
    border-radius: 5px;
    color: white;
    max-width: 560px;
    max-height: 200px;
    min-height: 60px;
    min-width: 400px;
    font-family: sans-serif;
    padding: 10px;
    font-size: 14px;
}

.msgEditArea button{
    margin-left: 20px;
}

.message h4 {
    color: #7e7e7e;
}

.msgParts {
    margin: 0;
    padding: 0;
}

.chatAreaOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #000000;
    opacity: 0.35;
    z-index: 1;
}

/*.chatAreaBody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: url('images/defaultChatBg.jpg');
}*/

.messageChatArea {
    text-align: left;
    color: #fff;
    list-style-type: none;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 5;
    top: 0;
    padding-left: 0px;
    padding: 20px 0px 20px 0px;
    /*height: 100%;*/
}

.messageChatArea p{
    text-align: left;
}

.chatUsername {
    color: green;
    text-align: left;
}

.chatCurrentUser {
    color: lightgreen;
    text-align: left;
}

.chatInputArea {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #898989;
}

.chatInputArea input{
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-family: sans-serif;
    width: 70%;
}

.chatInputArea .wrapper {
    width: 90%;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}