<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../src/css/interface.css" />
  </head>
  <title>
    5.5chan Test
  </title>
  <body>
    <table>
      <tr>
        <td id="header">
          <div class="alignLeft user1">
            Turnip
          </div>
        </td>
        <td id="header">
          <div class="logout">
            Logout
          </div>
        </td>
      </tr>
      <tr>
        <td id="sidebar">
          <div class="channel">
            #SpicyMemes
          </div>
          <hr color="525151" />
          <div class="user2">
            Draconitix
          </div>
          <br>
          </br>
          <div class="user1">
            Turnip
          </div>
        </td>
        <td id="body">
          <div>
            Test
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>