<ul ng-if="joined == false && adding == false">
<li ng-repeat="room in chatrooms"><button ng-click="joinChat(room.name)">{[{ room.name }]}</button><button ng-if="room.user == user.username">-</button></li>
<button ng-click="toggleCreate()">+</button>    
</ul>
<div ng-if="joined != false">
<button ng-click="leaveChat()">Leave Chat Room</button>
</div>
<div ng-if="adding == true && joined == false">
<button ng-click="toggleCreate()">Stop Adding</button>    
<form>   
<input type="text" ng-model="newroom.name" placeholder="Chat Name" ng-bind="validate(newroom.name, 'name')" />{[{ addErrs.name }]}
<br />    
Private Chat Room:<input type="checkbox" ng-model="newroom.private" ng-bind="validate(newroom.private, 'private')" />{[{ addErrs.private }]}
<br />
<ul ng-if="newroom.private == true">
<li ng-repeat="user in addUsers"><p>{[{ user.username }]}</p><input ng-if="user.creator == false" type="checkbox" ng-model="user.included" /></li>
</ul>
</form>
<button ng-click="createRoom()">Create Room</button>
</div>    