<div class="userProfileImage" id="img" style="background-image: url({[{ userImgUri }]})"></div><i class="cropIcon fas fa-crop" ng-click="crop()"></i>
<br />
<ul ng-if="editing == false && galleryT == false">
<li>Username: {[{ user.username }]}</li>
<li>Email: {[{ user.email }]}</li>
<li>Description: {[{ user.desc }]}</li>
<button ng-click="toggleEdit()">Edit Profile</button>
<button ng-click="galleryToggle()">Gallery</button>    
<button ng-click="logout()">Logout</button>   
<button ng-click="del()">Delete Account</button>    
</ul>
<form enctype="multipart/form-data" ng-submit="put()" ng-if="editing == true">
<button ng-click="toggleEdit()">Stop Editing</button>    
{[{ errors.main }]}
<br />    
<div><input type="text" name="username" placeholder="Username" ng-model="eUser.username" ng-blur="validate(eUser.username, 'username')"><br>{[{ errors.username }]}</div>
<br />       
<div><input  type="text" name="email" placeholder="Email" ng-model="eUser.email" ng-blur="validate(eUser.email, 'email')"><br>{[{ errors.email }]}</div>
<br />       
<div><textarea maxlength="150"  type="text" name="desc" placeholder="Description" ng-model="eUser.desc" ng-blur="validate(eUser.desc, 'desc')"></textarea><br>{[{ errors.desc }]}</div>
<br />             
<i class="fas fa-file-image"><input style="opacity: 0" name='profile' type="file" onchange="angular.element(this).scope().changeFile(this.files)" /></i>&shy;&shy;<p>{[{ currentFile.name }]}</p>
<p class="inputError">{[{ errors.profile }]}</p> 
<br />    
<input type="submit" />
</form>
<ul ng-if="galleryT == true">
<button ng-click="galleryToggle()">Close Gallery</button>       
<ul ng-if="gallery.length > 0">
<li ng-repeat="img in gallery">
    <img ng-if="img.thumb == true" ng-src="{[{ img.uri }]}thumb.{[{ img.type }]}" />
    <img ng-if="img.thumb == false" src="/{[{ img.uri }]}original.{[{ img.type }]}" />
</li>    
</ul>
<input id="fileArr" name='file' type="file" multiple onchange="angular.element(this).scope().gChangeFile(this.files)" />
<ul>
<li ng-repeat="file in gCurrentFiles">{[{ file.name }]}</li>
</ul>
<button ng-if="gCurrentFiles.length != ''" ng-click="addToGallery()">Add Files to Gallery</button>    
</ul>